@media screen and (min-width: 480px) {
    header {
        background: yellow;
    }
    .home-hero {
        min-height: 360px;
        background-position: 100%;
        .hero-text {
            .welcome {
                font-size: 2.5rem;
                margin-top: 188px;
            }
            .bouldin {
                font-size: 4rem;
                margin-top: 37px;
            }
        }
    }
}

@media screen and (min-width: 550px) {
    header {
        background: purple;
    }
    .home-hero {
        min-height: 450px;
        .text-contain {
            // margin-right:5%;
            .hero-text {
                overflow: hidden;
                // width: 90% 0px;
                .welcome {
                    font-size: 2.5rem;
                    margin-top: 7em;
                    margin-right: 5px;
                }
                .bouldin {
                    font-size: 4rem;
                    margin-top: 2em;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    header {
        background: black;
    }
    .home-hero {
        min-height: 500px;
        .text-contain {
            .hero-text {
                // background: orange;
                overflow: hidden;
                width: 90% 0px;
                .welcome {
                    font-size: 3rem;
                    margin-top: 6.6em;
                    margin-right: 5px;
                }
                .bouldin {
                    font-size: 4.5rem;
                    margin-top: 2.1em;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    @import "mixin";
    header {
        background: pink;
    }
    h2 {
        font-size: 50px;
        margin-top: -10px;
    }
    p {
        font-size: 18px;
        padding: 0 10% 0 0;
    }
    .home-hero {
        .text-contain {
            // margin-right:8%;
            .hero-text {
                // background: orange;
                overflow: hidden;
                width: 90% 0px;
                .welcome {
                    font-size: 3.5rem;
                    margin-top: 6.4em;
                    margin-right: 5px;
                }
                .bouldin {
                    font-size: 4.8rem;
                    margin-top: 2.4em;
                }
            }
        }
    }
    .about-section {
        padding: 50px 0 0 0;
        .offset {
            display: block;
            background: $lightblue;
            width: 15%;
            min-height: 35px;
            margin-top: 35px;
            float: right;
        }
    }
    .contact-section {
        padding: 0;
        .container {
            overflow: hidden;
            width: 100%;
        }
        h2 {
            padding-top: 50px;
            padding-left: 10%;
        }
        a {
            font-size: 1.4rem;
            padding-left: 10%;
        }
        p {
            padding-left: 10%;
        }
    }
    .location-section {
        overflow: hidden;
        padding: 0;
        .container {
            width: 100%;
        }
        h2 {
            padding-top: 50px;
            padding-left: 14%;
        }
        p {
            font-size: 1.5rem;
            padding-left: 14%;
        }
    }
    .know-section {
        padding: 0  0 0px 0;
        .container {
            width: 100%;
        }
        h2 {
            padding-top: 50px;
            padding-left: 10%;
        }
        p {
            padding-left: 10%;
            font-size: 16px;
            font-size: 1rem;
        }
       
    }

    .food-section{
    	  .offset {
            display: block;
            background: #fff;
            width: 15%;
            min-height: 35px;
            content: '';
            margin-top:-60px;
            
            float: right;
        }
        .color {
            background: #A4CC9F;
            
        }
    }
    .drinks-section {
     
        .offset {
            display: block;
            background: $lightblue;
            width: 15%;
            min-height: 35px;
            content: '';
            margin-top: 35px;
            float: left;
        }
        .color {
            background: #A4CC9F;
            margin-top: -60px;
        }
    }

    .events-section{
    	h2{
    		padding-left:12%;
    	}
    	a{
    		padding-left:12%;

    	}
    }

    footer{
        p{
            padding:0;
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        background: blue;
    }
    .home-hero {
        min-height: 650px;
        .text-contain {
            // margin-right:8%;
            .hero-text {
                // background: orange;
                overflow: hidden;
                width: 90% 0px;
                .welcome {
                    font-size: 3.5rem;
                    margin-top: 8.2em;
                    margin-right: 5px;
                }
                .bouldin {
                    font-size: 4.8rem;
                    margin-top: 3.7em;
                }
            }
        }
    }
        .know-section {
            p{
                font-size:18px;
            }

        }
}

@media screen and (min-width: 1200px) {
    header {
        background: green;
    }
 

    .container {
        width: 90%;
    }
    h2{
    		font-size:65px;
    	}
    .home-hero {
        min-height: 550px;
        background-position: 100% -280px;
        .text-contain {
            // margin-right:8%;
            .hero-text {
                // background: orange;
                overflow: hidden;
                width: 90% 0px;
                .welcome {
                    font-size: 3.5rem;
                    margin-top: 8.2em;
                    margin-right: 5px;
                }
                .bouldin {
                    font-size: 4.8rem;
                    margin-top: 3.7em;
                }
            }
        }
    }
    .about-section {

        p {
            max-width: 500px;
        }
    }

}