@media screen and (min-width: 480px) {}

@media screen and (min-width: 550px) {}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 768px) {
    .img-none {
        display: block;
    }
  .container{
  	width:100%;
  }

.menu-about{
	p{
		padding-bottom: 50px;
	}






	  .checkout-later{
  	display: block;

text-align:center;
  }

  .checkout-now{
  	display:none;
  }
}




}


@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}