@media screen and (min-width: 480px) {
    .menu-items {
        width: 90%;
        margin: 0 auto;
        // background: red;
        overflow: hidden;
        p {
            max-width: 550px;
        }
    }
}

@media screen and (min-width: 550px) {}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 768px) {
	.menu-items{

	}
    .img-none {
        display: block;
    }
    .checkout-later {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }
    .checkout-now {
        display: none;
    }
    .menu-links {
        ul {}
        li {
            display: inline-block;
            padding-bottom: 0;
            border-right: 2px solid black;
            a {
                padding-right: 15px;
                padding-left: 15px;
            }
            &:last-child {
                border: none;
            }
            &:nth-child(1) {}
        }
    }
}

@media screen and (min-width: 992px) {
    .food-fix {
        padding: 0;
        display: block;
   
    }
    .col-md-6 {
        padding-bottom: 100px;
        padding-right: 10%;
        max-width: 45%;
        // background:red;
        &:last-of-type {
            padding-right: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    section {
        padding: 60px 5% 64px 5%;
    }
    .menu-items {
        width: 75%;
        margin: 0 auto;
        h3 {
            float: left;
            position:relative;
            top:17px;
            padding-right:.5rem;
        }
        h2 {
            float: left;
          
            
        }
        p {
            &:nth-child(3) {
                color: red;
                padding-bottom: 40px;
                float: left;
            }
        }
        h4 {
            clear: both;
        }
    }
    .food-fix {
        padding: 0;
        display: block;
        margin-bottom:50px;
    }
}