@media screen and (min-width: 480px) {}

@media screen and (min-width: 550px) {}

@media screen and (min-width: 700px) {}

@media screen and (min-width: 768px) {
    .img-none {
        display: block;
    }
    .checkout-later {
        display: block;
        text-align: center;
        padding-bottom: 20px;
    }
    .checkout-now {
        display: none;
    }
    .menu-links {
        ul {}
        li {
            display: inline-block;
            padding-bottom: 0;
            border-right: 2px solid black;
            a {
                padding-right: 15px;
                padding-left: 15px;
               

            }
            &:last-child {
                border: none;
            }
            &:nth-child(1) {
               
              
              
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    section {
        padding: 60px 5% 64px 5%;
    }
}