.about-menu-section {
    background: white;
    padding: 60px 5% 64px 5%;
    overflow: hidden;
    h2 {
        color: $darkblue;
    }
    p {
        padding-bottom: 20px;
    }
}

.img-none {
    display: none;
}

//   .checkout-later{
// 	display: none;
// 	color:red;

// }
// .checkout-now{
// 	text-align:center;
// 	padding-bottom:50px;
// }

/*  Links For Menu
===================================*/

.menu-links {
    padding: 0 5% 0 5%;
    overflow: hidden;
    margin: 0 auto;
    // width:80%;
    // background:red;
    li {
        // float:left;
        // padding-right:55px;
        padding-bottom: 25px;
    }
}

/* Menu
===================================*/
.menu-items {
    width: 90%;

    margin: 0 auto;
    // background: red;
    overflow: hidden;
    p{
    	font-size:16px;
    	max-width: 300px;
    &:nth-child(3){
    	color:red;
    	padding-bottom:60px;
    }
    }
}

.price {
    float: right;
    font-size: 1.5em;
    position:relative;
    top:2px;
    font-size:20px;
  
   
   
    font-family: "tablet-gothic-compressed",sans-serif;
}

.omlets {
    // background: green;
    overflow: hidden;
}

.plates {
    // background: purple;
    overflow: hidden;
}

.tacos {
    // background: blue;
    overflow: hidden;
}

/* Fixes Img From Home Page
===================================*/

.food-fix {
    padding: 0;
    display: none;
}



   

