.menu-container{
	width:100%;
}

.about-menu-section {
    background: white;
    padding: 60px 5% 64px 5%;
    overflow: hidden;
    h2 {
        color: $darkblue;
    }
    p {
        padding-bottom: 20px;
    }
}
.orange{
    background:$section-orange;
    width:100%;
}







.img-none {
    display: none;
}



  //   .checkout-later{
  // 	display: none;
  // 	color:red;
  
  // }
  // .checkout-now{
  // 	text-align:center;
  // 	padding-bottom:50px;
  // }


.menu-links{
	padding:0 5% 0 5%;
	overflow:hidden;
	margin:0 auto;
	// width:80%;
	// background:red;

	li{
		// float:left;
		// padding-right:55px;
		padding-bottom:15px;
	}
}