@import "reset";
@import "mixin";
@import "responsive-nav";
@import "fontandcolor";

/* Main Styling
===================================*/

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    // background:lightblue;
}

/* Header Nav
===================================*/
header {
    background: #2E3032;
    // background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    position: relative;
    z-index: 10;
    .wrap {
        max-width: 90%;
        background: yellow;
        margin: 0 auto;
        overflow: hidden;
    }
    .logo {
        display: inline-block;
        overflow: hidden;
    }
}

/* Hero Img and Text
===================================*/

.home-hero {
    background: url(../images/home-hero.jpg);
    min-height: 300px;
    background-size: cover;
    background-position: 100%;
    .hero-container {
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        // background: red;
   
    }
    .text-contain {
        float: right;
        padding-top: 125px;
        // background: blue;
   
    }
    .hero-text {
        // background: orange;
        overflow: hidden;
        width: 90% 20px;
        .welcome {
            color: white;
            font-family: "tablet-gothic-compressed",sans-serif;
            // background: green;
            display: block;
            float: left;
            font-size: 2rem;
            clear: right;
            margin-top: 133px;
            margin-right: .2rem;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        }
        .bouldin {
            font-family: "tablet-gothic-compressed",sans-serif;
            color: white;
            // background: purple;
            display: block;
            float: left;
            font-size: 3.5rem;
            font-weight: bold;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        }
    }
}

/* About Section
===================================*/

.about-section {
    background: $section-orange;
    padding: 60px 0 64px 0;
    h2 {
        color: white;
    }
    p {
        padding-bottom: 20px;
    }
}

/* Contact Us Section
===================================*/

.contact-section {
    background: $lightblue;
    padding: 60px 0 64px 0;
    h2 {
        color: $darkred;
        padding-top: 10px;
    }

     p{
        padding-bottom:5px;
    }
    a{
        padding-bottom:10px;
  
    }
}

/* Location Section
===================================*/
.location-section {
    background: $section-yellow;
    padding: 60px 0 64px 0;
    h2 {
        color: $darkred;
        padding-top: 10px;
    }
    a{
        padding-bottom:18px;
    }
   
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Need To Know
===================================*/


.know-section {
    background: #fff;
    padding: 60px 0 64px 0;
    h2 {
        color: $darkred;
    }
    p {
        padding-bottom: 20px;
    }

}




// @import "menu";
// @import "mediaqueries";